.wrap-content {
    width: 90vw;
  }
  
  .section-blocks {
    display: flex;
  }
  
  .block {
    position: relative;
    width: 50%; 
    height: 250px;
    margin: 50px;
    border: 2px solid #cb6ce8;
    border-radius: 20px;
    box-shadow: 0 34px 36px rgba(0, 0, 0, 0.5); /* Додайте тінь */
    text-align: center;
    padding: 20px;
    color: #64107d;
  }

  .block::before {
    content: '';
    position: absolute; /* Встановіть позицію на absolute */
    top: 4px; /* Відстань від верхнього краю блоку */
    left: 4px; /* Відстань від лівого краю блоку */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Висота кнопки */
    background-color: #cb6ce8; /* Колір кнопки */
    border-radius: 50%; /* Закруглені краї кнопки */
    content: ''; /* Порожнє вміст псевдоелемента */
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5); 
  }

  .block::after {
    content: '';
    position: absolute; /* Встановіть позицію на absolute */
    top: 4px; /* Відстань від верхнього краю блоку */
    right: 4px; /* Відстань від правого краю блоку */
    width: 30px; /* Ширина другої кнопки */
    height: 30px; /* Висота другої кнопки */
    background-color: antiquewhite; /* Колір другої кнопки */
    border-radius: 50%; /* Закруглені краї другої кнопки */
    content: ''; /* Порожнє вміст псевдоелемента */
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
  }

  .block-image{
    width: 45%;
    border-radius: 20px;
  }

  .block-contact {
    display: flex;
  }