.logo-wrap {
    height: 90px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  .logo {
    height: 4em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .wrap-img {
    text-align: center;
    margin-right: 10px;
  }

  .title-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    color: #cb6ce8;
  }