.logo-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-bottom: 50px;
  }
  
  .logo {
    height: 50px;
    padding: 20px;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .wrap-img {
    text-align: center;
  }

  .title-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    color: #cb6ce8;
    padding-bottom: 20px;
  }