.logo-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-bottom: 50px;
  }
  
  .logo {
    height: 54px;
    padding: 20px;
    border-radius: 50%;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 4px #cb6ce8);
  }
   
  .wrap-img {
    text-align: center;
  }

  .title-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    color: #cb6ce8;
    padding-bottom: 20px;
  }